/*home page styles*/

/*make nav bar fixed*/
.affix {
     top: 0;
     width: 100%;
     z-index: 9999 !important;
}

.affix + #container-fluid {
     padding-top: 80px;
}
/* box around last row which has map address and training times 
#lastimage{
    width:100%;
    border:1px solid gray;
}on*/
.navbar{
background-color: white;
padding: 10px;
}
#footerleft{
    float: right;
}
#footerright{
    float: right;
}

/*home page styles end*/

/*committee page styles*/

/*committee page styles end*/

/*Socials page styles*/

/*Socials page styles end*/

/*join page styles*/

/*join page styles end*/

